/BlogCore/bin/
/BlogCore/obj/
/BlogCore.AccesoDatos/bin/
/BlogCore.AccesoDatos/obj/
/BlogCore.Models/bin/
/BlogCore.Models/obj/
/BlogCore.Models/bin/
/BlogCore.Utilidades/bin/
/BlogCore.Utilidades/obj/
NOTAS-MVC.txt